body {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 3fr 1fr;
}

header {
  background-color: lightblue;
  /* flex: 1 0 100%; */
  grid-column: 1/-1;
}
main {
  background-color: grey;
  /* flex: 1 0 500px;
  order: 2; */
}
nav {
  background-color: lightgreen;
  /* flex: 1 0 200px;
  order: 1; */
  grid-column: 1/2;
  grid-row: 2/3;
}
aside {
  background-color: green;
  /* flex: 1 0 200px;
  order: 3; */
}
footer {
  background-color: pink;
  /* flex: 1 0 100%;
  order: 4; */
  grid-column: 1/-1;
}

li {
  list-style-type: none;
  padding: 5px;
}

ul {
  display: flex;
  justify-content: center;
}
